{% extends 'core/right_side_post.html' %}
{% load static %}
{% load cropping %}

{% block detail %}
    {% if event %}
    <div class="col-lg-8">      
        <article>
                <div class="post-slider">
                    <div class="post-heading">
                        <h3>{{ event.title }}</h3>
                    </div>
                    {% if event.get_images|length == 1 %}
                        <img src="{% cropped_thumbnail event.get_image 'facebook_ratio'%}" alt="" class="img-responsive" />
                    {% else %}
                        <!-- start flexslider -->
                        <div id="post-slider" class="postslider flexslider">
                            <ul class="slides">
                                {% for image in event.get_images  %}
                                <li><img src="{% cropped_thumbnail image 'facebook_ratio'%}" alt="" /></li>
                                {% endfor  %}
                            </ul>
                        </div>
                        <!-- end flexslider -->
                    {% endif %}
                </div>
                <p>{{ event.description }}</p>
        </article>

        {% if event.offer_set.all|length > 0 %}
            <div class="row">
                <div class="col-lg-12">
                    <h4>Offers</h4>
                </div>
                {% for offer in event.offer_set.all %}
                    <div class="col-lg-4">
                        <div class="pricing-box-alt">
                            <div class="pricing-heading">
                                <h3>{{ offer.title }} <strong>Plan</strong></h3>
                            </div>
                            <div class="pricing-terms">
                                <h6>&#8361;{{ offer.price }} / {{ offer.period }}</h6>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    {% for benefit in offer.get_benefits %}
                                        <li><i class="icon-ok"></i> {{ benefit }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Register now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if event.facebook_plugin %}
            {% include 'core/partials/facebook_plugins.html' %}
        {% endif %}
    </div>
    {% endif %}

    {% if not event %}
    <div class="col-lg-8">
        <div class="row">
            <div class="text-center">
                <h2 class="error">404</h2>
                <p class="lead">Sorry your requested page not exist</p>
            </div>
        </div>
    </div>  
    {% endif %}
{% endblock detail %}