{% extends 'shop/base.html' %}
{% load static %}
{% load cropping %}

{% block head_script %}
    <!-- FlexSlider -->
    <script src="{% static 'shop/js/imagezoom.js' %}"></script>
    <script defer src="{% static 'shop/js/jquery.flexslider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'shop/css/flexslider.css' %}" type="text/css" media="screen" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
{% endblock head_script %}
{% block body %}
    {% include 'shop/partials/header.html' with category=category %}

    {% block content %}
        <!-- breadcrumb -->

        <div class="showcase-grid">
            <div class="container">
                <div class="col-md-8 showcase">
                    <div class="flexslider">
                        <ul class="slides">
                            {% for image in product.get_images %}
                                <li data-thumb="{% cropped_thumbnail image "carousel" %}">
                                    <div class="thumb-image"> <img src="{% cropped_thumbnail image "carousel"    %}" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 showcase">
                    <div class="showcase-rt-top">
                        <div class="pull-left shoe-name">
                            <h3>{{ product.title }}</h3>
                            <p>Men's running shoes</p>
                            <h4>{{ product.price }}&#65510;</h4>
                        </div>
                        <div class="pull-left rating-stars">
                            <ul>
                                <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr class="featurette-divider">
                    <div class="shocase-rt-bot">

                        <ul>
                            <li class="ad-2-crt simpleCart_shelfItem">
                                <a class="btn" href="#" role="button">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                    <div class="showcase-last">
                        <h3>product details</h3>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="specifications">
            <div class="container">
                <h3>Item Details</h3>
                <div class="detai-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills tab-nike" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Highlights</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            {{ product.highlights }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="you-might-like">
            <div class="container">
                <h3 class="you-might">Products You May Like</h3>
                {% for product in suggestions %}
                    <div class="col-md-4 grid-stn simpleCart_shelfItem" style="margin-top: 0px">
                        <!-- normal -->
                        <div class="ih-item square effect3 bottom_to_top">
                            <div class="bottom-2-top">
                                <div class="img">
                                    {% if product.get_image %}
                                        <img src="{% cropped_thumbnail product.get_image "thumb" %}" alt="/" class="img-responsive gri-wid">
                                    {% else %}
                                        <img src="" alt="No image" class="img-responsive gri-wid">
                                    {% endif %}
                                </div>
                                <div class="info">
                                    <div class="pull-left styl-hdn">
                                        <h3>{{ product.title }}</h3>
                                    </div>
                                    <div class="pull-right styl-price">
                                        <p>
                                            <a  href="#" class="item_add">
                                                <span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span>
                                                <span class=" item_price">{{ product.price }}&#65510;</span>
                                            </a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div></div>
                        </div>
                        <!-- end normal -->
                        <div class="quick-view">
                            <a href="detail.html">Quick view</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    {% endblock content %}
    {% include 'shop/partials/sub_news.html' %}
    {% include 'shop/partials/footer.html' %}
{% endblock body %}
