{% load static %}
<!-- clients -->
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo1.png" class="img-responsive" />
        </div>

        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo2.png" class="img-responsive" />
        </div>

        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo3.png" class="img-responsive" />
        </div>

        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo4.png" class="img-responsive" />
        </div>

        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo5.png" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-md-2 aligncenter client">
            <img alt="logo" src="img/clients/logo6.png" class="img-responsive" />
        </div>

    </div>
</div>