<div class="col-lg-8">
    <article>
        <div class="post-image">
            <div class="post-heading">
                <h3><a href="#">{{ event.title }}</a></h3>
            </div>
            <img src="{{ event.get_image }}" alt="" class="img-responsive">
        </div>
        <p>
            {{ event.description }}
        </p>
        <div class="bottom-article">
            <ul class="meta-post">
                <li><i class="fa fa-calendar"></i><a href="#"> {{ event.timestamp }}</a></li>
                <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                <li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>
                <li><i class="fa fa-tags"></i><a href="#">Event</a>, <a href="#">Food</a></li>
            </ul>
        </div>
    </article>

    {% include 'core/partials/facebook_comments.html' %}

    <div class="clear"></div>
</div>