<!-- parallax  -->
<div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row appear stats">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center color-white txt-shadow">
                    <div class="icon">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <strong id="counter-coffee" class="number">1232</strong><br />
                    <span class="text">Minutes</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center color-white txt-shadow">
                    <div class="icon">
                        <i class="fa fa-music fa-5x"></i>
                    </div>
                    <strong id="counter-music" class="number">345</strong><br />
                    <span class="text">MP3 Songs</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center color-white txt-shadow">
                    <div class="icon">
                        <i class="fa fa-coffee fa-5x"></i>
                    </div>
                    <strong id="counter-clock" class="number">501</strong><br />
                    <span class="text">Coffee Cups</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center color-white txt-shadow">
                    <div class="icon">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <strong id="counter-heart" class="number">378</strong><br />
                    <span class="text">Awwards</span>
                </div>
            </div>
        </div>
    </div>
</div>