{% load static %}
<div class="col-lg-8">
    <div class="col-lg-2">
        <!-- the icon as a time element -->
        <time datetime="2014-09-20" class="icon">
            <em>Saturday</em>
            <strong>September</strong>
            <span style="padding-top: 43px;">20</span>
        </time>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deserunt, distinctio ex ipsum iusto laborum minus, nulla quae quaerat quidem recusandae rem soluta temporibus ullam veniam veritatis voluptatibus. Dignissimos, est.
            </div>
        </div>
    </div>
</div>
