{% load static %}
<div class="col-sm-8">
    {% if not important_events %}
        <h3>No events</h3>
    {% else %}
        {% for event in important_events %}
            <div class="row">
                <div class="col-sm-2">
                    <!-- the icon as a time element -->
                    <time datetime="2014-09-20" class="icon" style="margin-bottom: 20px">
                        <em>Saturday</em>
                        <strong>September</strong>
                        <span style="padding-top: 43px;">20</span>
                    </time>
                </div>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ event.title }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ event.description }}
                            <div class="bottom-article">
                                <a href="{% url 'core:event_detail' event.id %}" class="readmore pull-right">
                                    Continue reading <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
